[submodule "git"]
	path = git
	url = https://github.com/git/git.git
[submodule "git-scratch"]
	path = git-scratch
	url = https://github.com/jsh/git-scratch.git
[submodule "docker"]
	path = docker
	url = https://github.com/docker/docker.git
